{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <section class="{{ settings.wrapper_classes }}">
    <div{{ attributes.addClass(['md:flex-no-wrap']) }}>
      {% if content.content %}
        <div {{ region_attributes.content.addClass('w-full') }}>
          {{ content.content }}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
